src/flows/Clone_Forms.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Original_Form_Name</name>
        <label>Get Original Form Name</label>
        <locationX>357</locationX>
        <locationY>6</locationY>
        <assignmentItems>
            <assignToReference>varNewFormName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Copy of {!varOriginalForm.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Form</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Clone Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Forms</label>
    <loops>
        <name>Loop_through_Fields</name>
        <label>Loop through Fields</label>
        <locationX>674</locationX>
        <locationY>401</locationY>
        <assignNextValueToReference>varFieldLoop</assignNextValueToReference>
        <collectionReference>colOriginalFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Original_Field_Group_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Original_Field_Group_Collection</name>
        <label>Loop through Original Field Group Collection</label>
        <locationX>236</locationX>
        <locationY>292</locationY>
        <assignNextValueToReference>varFieldGroupLoop</assignNextValueToReference>
        <collectionReference>colNewFieldGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Field_Groups</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Field_Groups</name>
        <label>Create Field Groups</label>
        <locationX>417</locationX>
        <locationY>296</locationY>
        <assignRecordIdToReference>varNewFieldGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varFieldGroupLoop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Allow_Users_to_Delete_Mapped_Records__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Allow_Users_to_Delete_Mapped_Records__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__DML_Operation__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__DML_Operation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Form__c</field>
            <value>
                <elementReference>varNewFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Instructions__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Multiple__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Is_Multiple__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Mapped_Object__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Mapped_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Mapped_Relationship_Field__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Mapped_Relationship_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Order__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Parent_Field_Group__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__Parent_Field_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__SOQL_Filter__c</field>
            <value>
                <elementReference>varFieldGroupLoop.PagesApi__SOQL_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <object>PagesApi__Field_Group__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Fields</name>
        <label>Create New Fields</label>
        <locationX>1025</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Loop_through_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varFieldLoop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Field_Group__c</field>
            <value>
                <elementReference>varNewFieldGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Form__c</field>
            <value>
                <elementReference>varNewFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Help_Text__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Help_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Hidden_Field_Value__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Hidden_Field_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Hidden__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Is_Hidden__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Required__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Is_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Mapped_Field__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Mapped_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Options__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Options__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Order__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Type__c</field>
            <value>
                <elementReference>varFieldLoop.PagesApi__Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>PagesApi__Field__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Form</name>
        <label>Create New Form</label>
        <locationX>520</locationX>
        <locationY>63</locationY>
        <assignRecordIdToReference>varNewFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Original_Field_Groups</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNewFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Description__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Display_Style__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__Display_Style__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Submit_Style__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__Submit_Style__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Submit_Value__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__Submit_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__User_Instructions__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__User_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Wizard_Review_Instructions__c</field>
            <value>
                <elementReference>varOriginalForm.PagesApi__Wizard_Review_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <object>PagesApi__Form__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Fields</name>
        <label>Get Fields</label>
        <locationX>553</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PagesApi__Field_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFieldGroupLoop.Id</elementReference>
            </value>
        </filters>
        <object>PagesApi__Field__c</object>
        <outputReference>colOriginalFields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PagesApi__Help_Text__c</queriedFields>
        <queriedFields>PagesApi__Field_Group__c</queriedFields>
        <queriedFields>PagesApi__Hidden_Field_Value__c</queriedFields>
        <queriedFields>PagesApi__Is_Hidden__c</queriedFields>
        <queriedFields>PagesApi__Is_Required__c</queriedFields>
        <queriedFields>PagesApi__Mapped_Field__c</queriedFields>
        <queriedFields>PagesApi__Options__c</queriedFields>
        <queriedFields>PagesApi__Order__c</queriedFields>
        <queriedFields>PagesApi__Type__c</queriedFields>
        <queriedFields>PagesApi__Form__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Field_Groups</name>
        <label>Get Original Field Groups</label>
        <locationX>77</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Original_Field_Group_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PagesApi__Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalForm.Id</elementReference>
            </value>
        </filters>
        <object>PagesApi__Field_Group__c</object>
        <outputReference>colNewFieldGroups</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PagesApi__Instructions__c</queriedFields>
        <queriedFields>PagesApi__Is_Multiple__c</queriedFields>
        <queriedFields>PagesApi__DML_Operation__c</queriedFields>
        <queriedFields>PagesApi__Mapped_Object__c</queriedFields>
        <queriedFields>PagesApi__Mapped_Relationship_Field__c</queriedFields>
        <queriedFields>PagesApi__Order__c</queriedFields>
        <queriedFields>PagesApi__Parent_Field_Group__c</queriedFields>
        <queriedFields>PagesApi__SOQL_Filter__c</queriedFields>
        <queriedFields>PagesApi__Allow_Users_to_Delete_Mapped_Records__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Form</name>
        <label>Get Original Form</label>
        <locationX>220</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Form_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalFormId</elementReference>
            </value>
        </filters>
        <object>PagesApi__Form__c</object>
        <outputReference>varOriginalForm</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PagesApi__Description__c</queriedFields>
        <queriedFields>PagesApi__Submit_Style__c</queriedFields>
        <queriedFields>PagesApi__Submit_Value__c</queriedFields>
        <queriedFields>PagesApi__Display_Style__c</queriedFields>
        <queriedFields>PagesApi__User_Instructions__c</queriedFields>
        <queriedFields>PagesApi__Wizard_Review_Instructions__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Original_Form</startElementReference>
    <status>Active</status>
    <variables>
        <name>colNewFieldGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field_Group__c</objectType>
    </variables>
    <variables>
        <name>colNewFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field__c</objectType>
    </variables>
    <variables>
        <name>colOriginalFieldGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field_Group__c</objectType>
    </variables>
    <variables>
        <name>colOriginalFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field__c</objectType>
    </variables>
    <variables>
        <name>varFieldGroupLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field_Group__c</objectType>
    </variables>
    <variables>
        <name>varFieldLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Field__c</objectType>
    </variables>
    <variables>
        <name>varNewFieldGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewFormName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PagesApi__Form__c</objectType>
    </variables>
    <variables>
        <name>varOriginalFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalFormName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
