src/flows/Domain_Matching_on_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Did_an_account_return</name>
        <label>Did an account return?</label>
        <locationX>365</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Update_Account_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_account_came_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompanyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No account came back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Old_Account_a_Newly_Created_Individual_Account</name>
        <label>Is The Old Account a Newly Created Individual Account?</label>
        <locationX>732</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_old_account_is_a_newly_created_individual_account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOldAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOldAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Household_Account</targetReference>
            </connector>
            <label>The old account is a newly created individual account</label>
        </rules>
    </decisions>
    <interviewLabel>Domain Matching on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Domain Matching on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Household_Account</name>
        <label>Delete Household Account</label>
        <locationX>739</locationX>
        <locationY>537</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Old Account Name</label>
        <locationX>740</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_The_Old_Account_a_Newly_Created_Individual_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varOldAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Domains</name>
        <label>Get Company Domains</label>
        <locationX>208</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_an_account_return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDomainExtension</elementReference>
            </value>
        </filters>
        <object>OrderApi__AccountDomain__c</object>
        <outputAssignments>
            <assignToReference>varAccountDomainName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyId</assignToReference>
            <field>OrderApi__Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDomainValue</assignToReference>
            <field>OrderApi__Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_on_Contact</name>
        <label>Update Account on Contact</label>
        <locationX>740</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varCompanyId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Get_Company_Domains</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountDomainName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountDomainRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__AccountDomain__c</objectType>
    </variables>
    <variables>
        <name>varCompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDomainExtension</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDomainValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
