src/flows/Present_Certifications_and_CEU_s.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Present Certifications and CEU&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Present Certifications and CEU&apos;s</label>
    <loops>
        <name>Loop_through_certs_and_CEU_S</name>
        <label>Loop through certs and CEU&apos;s</label>
        <locationX>320</locationX>
        <locationY>133</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>colCertsAndCEUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Display_Certifications_and_CEU_s</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Certifications_and_CEU_s</name>
        <label>Get Certifications and CEU&apos;s</label>
        <locationX>175</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_certs_and_CEU_S</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Certification_and_CEU__c</object>
        <outputReference>colCertsAndCEUs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FLOW_Concatenated_Fields__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Certifications_and_CEU_s</name>
        <label>Display Certifications and CEU&apos;s</label>
        <locationX>487</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_certs_and_CEU_S</targetReference>
        </connector>
        <fields>
            <name>DisplayCerts</name>
            <fieldText>{!varLoop.FLOW_Concatenated_Fields__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Certifications_and_CEU_s</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colCertsAndCEUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Certification_and_CEU__c</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Certification_and_CEU__c</objectType>
    </variables>
</Flow>
