src/flows/Reparent_Task_to_Primary_Affiliation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>689</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Related_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Contact Found Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Found</name>
        <label>Task Found</label>
        <locationX>271</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Task Not Found</defaultConnectorLabel>
        <rules>
            <name>Task_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Related_Contact</targetReference>
            </connector>
            <label>Task Found Yes</label>
        </rules>
    </decisions>
    <description>Reparents Tasks from Household Account to Account that is Contacts Primary Affiliation.</description>
    <interviewLabel>Reparent Task to Primary Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reparent Task to Primary Affiliation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Related_Contact</name>
        <label>Lookup Related Contact</label>
        <locationX>529</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskWhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Affiliation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varPrimaryAffiliation</assignToReference>
            <field>npsp__Primary_Affiliation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>98</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskWhatId</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskWhoId</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>940</locationX>
        <locationY>61</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPrimaryAffiliation</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Lookup_Task</startElementReference>
    <status>Draft</status>
    <variables>
        <name>TaskWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryAffiliation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
