src/flows/Sales_Order_After_Save_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Info</name>
        <label>Assign Contact Info</label>
        <locationX>483</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Bookstore_Purchase_Year__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxSO_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_All_Time__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_This_Year__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quantity_of_Merchandise_Items_Posted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info_0</name>
        <label>Assign Contact Info</label>
        <locationX>866</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Bookstore_Purchase_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxLatestSOYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_All_Time__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varMerchItemCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_This_Year__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varMerchItemCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info_0_0</name>
        <label>Assign Contact Info</label>
        <locationX>953</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_All_Time__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity_of_Merchandise_Items_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_This_Year__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info_0_0_0</name>
        <label>Assign Contact Info</label>
        <locationX>1177</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_All_Time__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity_of_Merchandise_Items_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_This_Year__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity_of_Merchandise_Items_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info_0_0_0_0</name>
        <label>Assign Contact Info</label>
        <locationX>1058</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Bookstore_Purchase_Year__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>0000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_All_Time__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity_of_Merchandise_Items_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Items_Purchased_This_Year__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity_of_Merchandise_Items_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Post_Changed</name>
        <label>Post Changed</label>
        <locationX>373</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Posted_and_Refunded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither (Default)</defaultConnectorLabel>
        <rules>
            <name>Posted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Amount_Refunded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OrderApi__Amount_Refunded__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Info</targetReference>
            </connector>
            <label>Posted</label>
        </rules>
        <rules>
            <name>Unposted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Sales_Order_Posted_Not_Refunded</targetReference>
            </connector>
            <label>Unposted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Posted_and_Refunded</name>
        <label>Posted and Refunded</label>
        <locationX>530</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Yes_Posted_Refunded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Amount_Refunded__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OrderApi__Amount_Refunded__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>929</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Info_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Sales_Order_Posted_Not_Refunded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Info_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund</name>
        <label>Refund</label>
        <locationX>634</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Info_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partial (Default)</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Amount_Refunded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OrderApi__Subtotal__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Sales_Order_Posted_Not_Refunded</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unposted_or_Refund</name>
        <label>Unposted or Refund</label>
        <locationX>698</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal (default)</defaultConnectorLabel>
        <rules>
            <name>Yes_Unposted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Unposted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Info_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Identify users who purchased an item from the bookstore</description>
    <formulas>
        <name>fxJan1CurrentYear</name>
        <dataType>Date</dataType>
        <expression>date(year({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>fxLatestSOYear</name>
        <dataType>String</dataType>
        <expression>text(year({!Get_Latest_Sales_Order_Posted_Not_Refunded.OrderApi__Posted_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>fxQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_of_Merchandise_Items__c} - {!$Record.Quantity_of_Refunded_Merchandise_Items__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxRemoveCY</name>
        <dataType>String</dataType>
        <expression>/*substitute(Get_Contact.Bookstore_Purchase_Year__c,fxSO_Year,&quot;&quot;)*/ &quot;removed&quot;</expression>
    </formulas>
    <formulas>
        <name>fxSO_Year</name>
        <dataType>String</dataType>
        <expression>text(year({!$Record.OrderApi__Posted_Date__c}))</expression>
    </formulas>
    <interviewLabel>Sales Order - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order - After Save/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Check if current year already in Bookstore_Purchase_Year__c</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>237</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Sales_Order_Posted_Not_Refunded</name>
        <label>Get Latest Sales Order Posted and Not Refunded</label>
        <locationX>769</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Posted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity_of_Merchandise_Items__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posted_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fxJan1CurrentYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <sortField>OrderApi__Posted_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1189</locationX>
        <locationY>847</locationY>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>216</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Posted_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varMerchItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
