src/flows/Set_Date_Site_Profile_Sent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3) OR (2 AND 4) OR (2 AND 5)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete Your Site Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Composer_Settings__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXTConga4__Conga_Merge_Query__c;APXTConga4__Conga_Solution_Email_Template__c;APXTConga4__Conga_Solution_Parameter__c;APXTConga4__Conga_Solution_Query__c;APXTConga4__Conga_Solution_Report__c;APXTConga4__Conga_Solution_Template__c;APXTConga4__Conga_Solution__c;APXTConga4__Conga_Solutions_Settings__c;APXTConga4__Conga_Template__c;Account;Asset;AssetRelationship;Campaign;Campaign_Training_Association__c;Case;Contract;GW_Volunteers__Job_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Shift__c;GW_Volunteers__Volunteers_Settings__c;Group__c;ListEmail;Opportunity;Order;Product2;Solution;Training__c;dlrs__DeclarativeLookupRollupSummaries__c;dlrs__LookupChildAReallyReallyReallyBigBigName__c;dlrs__LookupChild__c;dlrs__LookupParent__c;dlrs__LookupRollupCalculateJob__c;dlrs__LookupRollupSummaryLog__c;dlrs__LookupRollupSummaryScheduleItems__c;dlrs__LookupRollupSummary__c;npe01__Contacts_And_Orgs_Settings__c;npe01__OppPayment__c;npe01__Payment_Field_Mapping_Settings__c;npe03__Custom_Field_Mapping__c;npe03__Custom_Installment_Settings__c;npe03__Recurring_Donation__c;npe03__Recurring_Donations_Settings__c;npe4__Relationship_Auto_Create__c;npe4__Relationship_Error__c;npe4__Relationship_Lookup__c;npe4__Relationship_Settings__c;npe4__Relationship__c;npe5__Affiliation__c;npe5__Affiliations_Settings__c;npo02__Household__c;npo02__Households_Settings__c;npo02__Opportunity_Rollup_Error__c;npo02__User_Rollup_Field_Settings__c;npsp__Account_Soft_Credit__c;npsp__Address_Verification_Settings__c;npsp__Address__c;npsp__Allocation__c;npsp__Allocations_Settings__c;npsp__Batch_Data_Entry_Settings__c;npsp__Batch__c;npsp__Customizable_Rollup_Settings__c;npsp__DataImportBatch__c;npsp__DataImport__c;npsp__Data_Import_Settings__c;npsp__Engagement_Plan_Task__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Error_Settings__c;npsp__Error__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c;npsp__Household_Naming_Settings__c;npsp__Level__c;npsp__Opportunity_Naming_Settings__c;npsp__Partial_Soft_Credit__c;npsp__Relationship_Sync_Excluded_Fields__c;npsp__Schedulable__c;npsp__Trigger_Handler__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;qualtrics__Survey_Campaign__c;qualtrics__Survey_Response__c;qualtrics__Survey__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your Annual Site Profile for HealthySteps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Forms to be Completed Prior to HealthySteps Institute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please update your HealthySteps Site Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Complete Your Site Profile</label>
        </rules>
    </decisions>
    <description>Set date Site Profile sent to contact.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Today()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5748878218</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Set_Date_Site_Profile_Sent-3_InterviewLabel</interviewLabel>
    <label>Set Date Site Profile Sent</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Account)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Site Profile Sent Date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Site Profile Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>DateMostRecentSiteProfileSent__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5748878218</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
