src/flows/Set_Implementation_Plan_Sent_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>EmailTemplate</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Xf4000001YeGgEAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Composer_Settings__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXTConga4__Conga_Merge_Query__c;APXTConga4__Conga_Solution_Email_Template__c;APXTConga4__Conga_Solution_Parameter__c;APXTConga4__Conga_Solution_Query__c;APXTConga4__Conga_Solution_Report__c;APXTConga4__Conga_Solution_Template__c;APXTConga4__Conga_Solution__c;APXTConga4__Conga_Solutions_Settings__c;APXTConga4__Conga_Template__c;Account;Asset;AssetRelationship;Campaign;Campaign_Training_Association__c;Case;Contract;GW_Volunteers__Job_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Shift__c;GW_Volunteers__Volunteers_Settings__c;Group__c;ListEmail;Opportunity;Order;Product2;Solution;Training__c;dlrs__DeclarativeLookupRollupSummaries__c;dlrs__LookupChildAReallyReallyReallyBigBigName__c;dlrs__LookupChild__c;dlrs__LookupParent__c;dlrs__LookupRollupCalculateJob__c;dlrs__LookupRollupSummaryLog__c;dlrs__LookupRollupSummaryScheduleItems__c;dlrs__LookupRollupSummary__c;npe01__Contacts_And_Orgs_Settings__c;npe01__OppPayment__c;npe01__Payment_Field_Mapping_Settings__c;npe03__Custom_Field_Mapping__c;npe03__Custom_Installment_Settings__c;npe03__Recurring_Donation__c;npe03__Recurring_Donations_Settings__c;npe4__Relationship_Auto_Create__c;npe4__Relationship_Error__c;npe4__Relationship_Lookup__c;npe4__Relationship_Settings__c;npe4__Relationship__c;npe5__Affiliation__c;npe5__Affiliations_Settings__c;npo02__Household__c;npo02__Households_Settings__c;npo02__Opportunity_Rollup_Error__c;npo02__User_Rollup_Field_Settings__c;npsp__Account_Soft_Credit__c;npsp__Address_Verification_Settings__c;npsp__Address__c;npsp__Allocation__c;npsp__Allocations_Settings__c;npsp__Batch_Data_Entry_Settings__c;npsp__Batch__c;npsp__Customizable_Rollup_Settings__c;npsp__DataImportBatch__c;npsp__DataImport__c;npsp__Data_Import_Settings__c;npsp__Engagement_Plan_Task__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Error_Settings__c;npsp__Error__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c;npsp__Household_Naming_Settings__c;npsp__Level__c;npsp__Opportunity_Naming_Settings__c;npsp__Partial_Soft_Credit__c;npsp__Relationship_Sync_Excluded_Fields__c;npsp__Schedulable__c;npsp__Trigger_Handler__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;qualtrics__Survey_Campaign__c;qualtrics__Survey_Response__c;qualtrics__Survey__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Complete Your Implementation Plan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>(1 OR 2 ) and 3</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>EmailTemplate</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Xf4000001YeGqEAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>EmailTemplate</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Xf4000000dtvQEAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Composer_Settings__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXTConga4__Conga_Merge_Query__c;APXTConga4__Conga_Solution_Email_Template__c;APXTConga4__Conga_Solution_Parameter__c;APXTConga4__Conga_Solution_Query__c;APXTConga4__Conga_Solution_Report__c;APXTConga4__Conga_Solution_Template__c;APXTConga4__Conga_Solution__c;APXTConga4__Conga_Solutions_Settings__c;APXTConga4__Conga_Template__c;Account;Asset;AssetRelationship;Campaign;Campaign_Training_Association__c;Case;Certification_and_CEU__c;Contract;Digital_Reading_Material__c;DonorApi__Gift_Credit__c;DonorApi__Gift_In_Kind__c;EventApi__Attendee__c;EventApi__Event_Category__c;EventApi__Event_Chatter_Groups__c;EventApi__Event_Page_Component__c;EventApi__Event_Page__c;EventApi__Event_Status_Page__c;EventApi__Event_Status__c;EventApi__Event__c;EventApi__Registration_Group__c;EventApi__Registration_Item__c;EventApi__Registration_Route__c;EventApi__Room__c;EventApi__Schedule_Item__c;EventApi__Seat__c;EventApi__Section_Ticket__c;EventApi__Section__c;EventApi__Site_Event_Category__c;EventApi__Speaker_Schedule_Item__c;EventApi__Speaker__c;EventApi__Sponsor_Package__c;EventApi__Sponsor__c;EventApi__Ticket_Block__c;EventApi__Ticket_Schedule_Item__c;EventApi__Ticket_Type__c;EventApi__Track_Schedule_Item__c;EventApi__Track__c;EventApi__Vendor__c;EventApi__Venue__c;EventApi__Waitlist_Entry__c;FON_CEU_Survey__c;Framework__Developer_Settings__c;Framework__System_Log__c;GW_Volunteers__Job_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Shift__c;GW_Volunteers__Volunteers_Settings__c;Group__c;HL_Community_Activity__c;LTE__Menu_Item__c;LTE__Site_Event__c;LTE__Site__c;ListEmail;Opportunity;Order;OrderApi__Access_Permission__c;OrderApi__AccountDomain__c;OrderApi__Assignment_Role__c;OrderApi__Assignment__c;OrderApi__Badge_Type__c;OrderApi__Badge_Workflow__c;OrderApi__Badge__c;OrderApi__Batch__c;OrderApi__Business_Group__c;OrderApi__CVV_Response_Code__c;OrderApi__Campaign_Page__c;OrderApi__Catalog_Item__c;OrderApi__Catalog__c;OrderApi__Connection_Type_Mapping__c;OrderApi__Connection_Type__c;OrderApi__Connection__c;OrderApi__Credit_Memo_Line__c;OrderApi__Credit_Memo__c;OrderApi__Custom_Payment_Type__c;OrderApi__EPayment_Line__c;OrderApi__EPayment__c;OrderApi__GL_Account__c;OrderApi__Invoice_Line__c;OrderApi__Invoice__c;OrderApi__Item_Class__c;OrderApi__Item_Subscription_Plan__c;OrderApi__Item__c;OrderApi__Known_Address__c;OrderApi__Log__c;OrderApi__Package_Item__c;OrderApi__Payment_Gateway__c;OrderApi__Payment_Method__c;OrderApi__Payment_Terms__c;OrderApi__Price_Rule_Variable__c;OrderApi__Price_Rule__c;OrderApi__Receipt_Line__c;OrderApi__Receipt__c;OrderApi__Renewal_Path_Variable__c;OrderApi__Renewal_Path__c;OrderApi__Renewal__c;OrderApi__Sales_Order_Line__c;OrderApi__Sales_Order__c;OrderApi__Scheduled_Payment_Line__c;OrderApi__Scheduled_Payment__c;OrderApi__Shipping_Method__c;OrderApi__Shipping_Region__c;OrderApi__Source_Code__c;OrderApi__Store__c;OrderApi__Subscription_Line__c;OrderApi__Subscription_Plan__c;OrderApi__Subscription__c;OrderApi__Tax_Locale__c;OrderApi__Transaction_Line__c;OrderApi__Transaction__c;PagesApi__Community_Group_Member__c;PagesApi__Community_Group__c;PagesApi__Component__c;PagesApi__Field_Group__c;PagesApi__Field_Response__c;PagesApi__Field__c;PagesApi__Form_Response__c;PagesApi__Form__c;PagesApi__Media_Asset_Collection__c;PagesApi__Media_Asset__c;PagesApi__Menu_Item__c;PagesApi__Menu__c;PagesApi__Page_Element_Attribute__c;PagesApi__Page_Element__c;PagesApi__Page__c;PagesApi__Site_Template_Page__c;PagesApi__Site_Template__c;PagesApi__Site__c;PagesApi__Skip_Logic_Rule__c;PagesApi__Theme__c;PriceApi__Bulk_Price_Rule__c;Product2;Site_Profile__c;Solution;Training__c;dlrs__DeclarativeLookupRollupSummaries__c;dlrs__LookupChildAReallyReallyReallyBigBigName__c;dlrs__LookupChild__c;dlrs__LookupParent__c;dlrs__LookupRollupCalculateJob__c;dlrs__LookupRollupSummaryLog__c;dlrs__LookupRollupSummaryScheduleItems__c;dlrs__LookupRollupSummary__c;joinapi__Join_Process__c;joinapi__Step_Condition__c;joinapi__Step__c;kwac__Advocacy__c;kwac__KWAC_Action_Center_Display_Field_Map__c;kwac__KWAC_Action_Center_Filter_Map__c;kwac__KWAC_Action_Center_General_Settings__c;kwac__KWAC_Action_Center_List_Settings__c;kwac__KWAC_Page_Parameters__c;kwac__KWAC_State_Values__c;kwac__KW_Action_Center_Field_Map__c;kweos__EOCS_Data__c;kwzd__KnowWho_Batch_Filters__c;kwzd__KnowWho_Elected_Official_Contacts__c;kwzd__KnowWho_Elected_Official__c;kwzd__ZDMCustomObjectLookup__c;kwzd__ZDM_Settings__c;kwzd__Zip_to_District_Batch__c;kwzd__Zip_to_District_Data_Staging__c;kwzd__Zip_to_District__c;npe01__Contacts_And_Orgs_Settings__c;npe01__OppPayment__c;npe01__Payment_Field_Mapping_Settings__c;npe03__Custom_Field_Mapping__c;npe03__Custom_Installment_Settings__c;npe03__Recurring_Donation__c;npe03__Recurring_Donations_Settings__c;npe4__Relationship_Auto_Create__c;npe4__Relationship_Error__c;npe4__Relationship_Lookup__c;npe4__Relationship_Settings__c;npe4__Relationship__c;npe5__Affiliation__c;npe5__Affiliations_Settings__c;npo02__Household__c;npo02__Households_Settings__c;npo02__Opportunity_Rollup_Error__c;npo02__User_Rollup_Field_Settings__c;npsp__Account_Soft_Credit__c;npsp__Address_Verification_Settings__c;npsp__Address__c;npsp__Allocation__c;npsp__Allocations_Settings__c;npsp__Batch_Data_Entry_Settings__c;npsp__Batch__c;npsp__Customizable_Rollup_Settings__c;npsp__DataImportBatch__c;npsp__DataImport__c;npsp__Data_Import_Settings__c;npsp__Engagement_Plan_Task__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Error_Settings__c;npsp__Error__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c;npsp__Household_Naming_Settings__c;npsp__Level__c;npsp__Levels_Settings__c;npsp__Opportunity_Naming_Settings__c;npsp__Partial_Soft_Credit__c;npsp__Relationship_Sync_Excluded_Fields__c;npsp__Schedulable__c;npsp__Trigger_Handler__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;qualtrics__Survey_Campaign__c;qualtrics__Survey_Response__c;qualtrics__Survey__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Complete Your Site Profile</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.EmailTemplate.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c4g_Ready_to_Explore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Composer_Settings__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXTConga4__Conga_Merge_Query__c;APXTConga4__Conga_Solution_Email_Template__c;APXTConga4__Conga_Solution_Parameter__c;APXTConga4__Conga_Solution_Query__c;APXTConga4__Conga_Solution_Report__c;APXTConga4__Conga_Solution_Template__c;APXTConga4__Conga_Solution__c;APXTConga4__Conga_Solutions_Settings__c;APXTConga4__Conga_Template__c;Account;Asset;AssetRelationship;Campaign;Campaign_Training_Association__c;Case;Certification_and_CEU__c;Contract;Digital_Reading_Material__c;DonorApi__Gift_Credit__c;DonorApi__Gift_In_Kind__c;EventApi__Attendee__c;EventApi__Event_Category__c;EventApi__Event_Chatter_Groups__c;EventApi__Event_Page_Component__c;EventApi__Event_Page__c;EventApi__Event_Status_Page__c;EventApi__Event_Status__c;EventApi__Event__c;EventApi__Registration_Group__c;EventApi__Registration_Item__c;EventApi__Registration_Route__c;EventApi__Room__c;EventApi__Schedule_Item__c;EventApi__Seat__c;EventApi__Section_Ticket__c;EventApi__Section__c;EventApi__Site_Event_Category__c;EventApi__Speaker_Schedule_Item__c;EventApi__Speaker__c;EventApi__Sponsor_Package__c;EventApi__Sponsor__c;EventApi__Ticket_Block__c;EventApi__Ticket_Schedule_Item__c;EventApi__Ticket_Type__c;EventApi__Track_Schedule_Item__c;EventApi__Track__c;EventApi__Vendor__c;EventApi__Venue__c;EventApi__Waitlist_Entry__c;FON_CEU_Survey__c;Framework__Developer_Settings__c;Framework__System_Log__c;GW_Volunteers__Job_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Recurrence_Schedule__c;GW_Volunteers__Volunteer_Shift__c;GW_Volunteers__Volunteers_Settings__c;Group__c;HL_Community_Activity__c;LTE__Menu_Item__c;LTE__Site_Event__c;LTE__Site__c;ListEmail;Opportunity;Order;OrderApi__Access_Permission__c;OrderApi__AccountDomain__c;OrderApi__Assignment_Role__c;OrderApi__Assignment__c;OrderApi__Badge_Type__c;OrderApi__Badge_Workflow__c;OrderApi__Badge__c;OrderApi__Batch__c;OrderApi__Business_Group__c;OrderApi__CVV_Response_Code__c;OrderApi__Campaign_Page__c;OrderApi__Catalog_Item__c;OrderApi__Catalog__c;OrderApi__Connection_Type_Mapping__c;OrderApi__Connection_Type__c;OrderApi__Connection__c;OrderApi__Credit_Memo_Line__c;OrderApi__Credit_Memo__c;OrderApi__Custom_Payment_Type__c;OrderApi__EPayment_Line__c;OrderApi__EPayment__c;OrderApi__GL_Account__c;OrderApi__Invoice_Line__c;OrderApi__Invoice__c;OrderApi__Item_Class__c;OrderApi__Item_Subscription_Plan__c;OrderApi__Item__c;OrderApi__Known_Address__c;OrderApi__Log__c;OrderApi__Package_Item__c;OrderApi__Payment_Gateway__c;OrderApi__Payment_Method__c;OrderApi__Payment_Terms__c;OrderApi__Price_Rule_Variable__c;OrderApi__Price_Rule__c;OrderApi__Receipt_Line__c;OrderApi__Receipt__c;OrderApi__Renewal_Path_Variable__c;OrderApi__Renewal_Path__c;OrderApi__Renewal__c;OrderApi__Sales_Order_Line__c;OrderApi__Sales_Order__c;OrderApi__Scheduled_Payment_Line__c;OrderApi__Scheduled_Payment__c;OrderApi__Shipping_Method__c;OrderApi__Shipping_Region__c;OrderApi__Source_Code__c;OrderApi__Store__c;OrderApi__Subscription_Line__c;OrderApi__Subscription_Plan__c;OrderApi__Subscription__c;OrderApi__Tax_Locale__c;OrderApi__Transaction_Line__c;OrderApi__Transaction__c;PagesApi__Community_Group_Member__c;PagesApi__Community_Group__c;PagesApi__Component__c;PagesApi__Field_Group__c;PagesApi__Field_Response__c;PagesApi__Field__c;PagesApi__Form_Response__c;PagesApi__Form__c;PagesApi__Media_Asset_Collection__c;PagesApi__Media_Asset__c;PagesApi__Menu_Item__c;PagesApi__Menu__c;PagesApi__Page_Element_Attribute__c;PagesApi__Page_Element__c;PagesApi__Page__c;PagesApi__Site_Template_Page__c;PagesApi__Site_Template__c;PagesApi__Site__c;PagesApi__Skip_Logic_Rule__c;PagesApi__Theme__c;PriceApi__Bulk_Price_Rule__c;Product2;Site_Profile__c;Solution;Training__c;dlrs__DeclarativeLookupRollupSummaries__c;dlrs__LookupChildAReallyReallyReallyBigBigName__c;dlrs__LookupChild__c;dlrs__LookupParent__c;dlrs__LookupRollupCalculateJob__c;dlrs__LookupRollupSummaryLog__c;dlrs__LookupRollupSummaryScheduleItems__c;dlrs__LookupRollupSummary__c;joinapi__Join_Process__c;joinapi__Step_Condition__c;joinapi__Step__c;kwac__Advocacy__c;kwac__KWAC_Action_Center_Display_Field_Map__c;kwac__KWAC_Action_Center_Filter_Map__c;kwac__KWAC_Action_Center_General_Settings__c;kwac__KWAC_Action_Center_List_Settings__c;kwac__KWAC_Page_Parameters__c;kwac__KWAC_State_Values__c;kwac__KW_Action_Center_Field_Map__c;kweos__EOCS_Data__c;kwzd__KnowWho_Batch_Filters__c;kwzd__KnowWho_Elected_Official_Contacts__c;kwzd__KnowWho_Elected_Official__c;kwzd__ZDMCustomObjectLookup__c;kwzd__ZDM_Settings__c;kwzd__Zip_to_District_Batch__c;kwzd__Zip_to_District_Data_Staging__c;kwzd__Zip_to_District__c;npe01__Contacts_And_Orgs_Settings__c;npe01__OppPayment__c;npe01__Payment_Field_Mapping_Settings__c;npe03__Custom_Field_Mapping__c;npe03__Custom_Installment_Settings__c;npe03__Recurring_Donation__c;npe03__Recurring_Donations_Settings__c;npe4__Relationship_Auto_Create__c;npe4__Relationship_Error__c;npe4__Relationship_Lookup__c;npe4__Relationship_Settings__c;npe4__Relationship__c;npe5__Affiliation__c;npe5__Affiliations_Settings__c;npo02__Household__c;npo02__Households_Settings__c;npo02__Opportunity_Rollup_Error__c;npo02__User_Rollup_Field_Settings__c;npsp__Account_Soft_Credit__c;npsp__Address_Verification_Settings__c;npsp__Address__c;npsp__Allocation__c;npsp__Allocations_Settings__c;npsp__Batch_Data_Entry_Settings__c;npsp__Batch__c;npsp__Customizable_Rollup_Settings__c;npsp__DataImportBatch__c;npsp__DataImport__c;npsp__Data_Import_Settings__c;npsp__Engagement_Plan_Task__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Error_Settings__c;npsp__Error__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c;npsp__Household_Naming_Settings__c;npsp__Level__c;npsp__Levels_Settings__c;npsp__Opportunity_Naming_Settings__c;npsp__Partial_Soft_Credit__c;npsp__Relationship_Sync_Excluded_Fields__c;npsp__Schedulable__c;npsp__Trigger_Handler__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;qualtrics__Survey_Campaign__c;qualtrics__Survey_Response__c;qualtrics__Survey__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Complete Your Practice Assessment Email Sent</label>
        </rules>
    </decisions>
    <description>9.16.19-Point to email name rather than subject | 8.28.19-Fix due to email template name changes.   Updates to Set Practice Assessment, Site Profile, and Implementation Plan Sent Date</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2693046193</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+14</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_0433253976</name>
        <dataType>Date</dataType>
        <expression>today()+14</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+14</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0312561500</name>
        <dataType>Date</dataType>
        <expression>today()+14</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Today()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_4975099786</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_5172920403</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+14</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_3940247822</name>
        <dataType>Date</dataType>
        <expression>today()+14</expression>
    </formulas>
    <interviewLabel>Set_Implementation_Plan_Sent_Date-8_InterviewLabel</interviewLabel>
    <label>Set HealthySteps Forms Sent Date</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Account)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Implementation Plan Sent Date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Implementation Plan Reminder</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Implementation_Plan_Reminder__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0312561500</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Implementation Plan Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>cfg_Implementation_Plan_Sent__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_4975099786</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Account)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Set Site Profile Sent Date</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Site Profile Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>DateMostRecentSiteProfileSent__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_5172920403</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Practice Assessment Reminder</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Practice_Assessment_Reminder__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_3940247822</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Account)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Set Practice Assessment Date Sent</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Practice Assessment Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>C4G_Date_Readiness_Assessment_Sent__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_2693046193</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Practice Assessment Reminder</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Practice_Assessment_Reminder__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_0433253976</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
